// Mixins
.box-shadow(@config) {
  -webkit-box-shadow: @config; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  box-shadow: @config; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.border-radius(@config) {
  -webkit-border-radius: @config; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
  border-radius: @config; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

// General
.left {
  float: left;
}

.right {
  float: right;
}

.note {
  font-size: 12px;
  color: #888;
}

// Regions
.header {
  overflow: hidden;
  padding: 15px;
  background: #eee;
  border-bottom: 1px solid #ccc;

  .left {
    a {
      margin-right: 15px;
    }
  }

  .right {
    a {
      margin-left: 15px;
    }
  }
}

.main-content {
  min-width: 600px;
  max-width: 1600px;
  width: 80%;
  margin: 20px auto 0 auto;
}

.login {
  @width: 300px;
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: @width * -0.5;
  width: @width;
  background: white;
  border: 1px solid #ccc;
  .box-shadow(7px 7px 10px 0px rgba(0, 0, 0, 0.2));
  
  & > .inner {
    padding: 15px;
  }
  
  .buttons {
    text-align: center;
  }
  
  .prompt {
    display: none;
    margin-bottom: 20px;
  }

  .twitter {
    display: inline-block;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    .border-radius(6px);
    cursor: pointer;
    
    &:hover,
    &:active {
      background: #eee;
    }
  }

  .note {
    margin-top: 20px;
  }
}

.NewIssue {
  table {
    width: 100%;
    
    th,
    td {
      padding: 10px;
    } 
         
    th {
      text-align: left;
      vertical-align: top;
    }
    
    td {
      width: 100%;
    }
    
    input {
      width: 100%;
    }
    
    textarea {
      width: 100%;
      height: 200px;
    }
    
    .note {
      margin-top: 10px;
    }
  }  
}

.Issue {
  .byline {
    font-size: 14px;
    color: #333;
    margin: 1em 0;
  }
  
  .description {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  textarea {
    width: 50%;
    height: 100px;
    margin-bottom: 20px;
  }
}
